body, html {
    height: 100%;
    margin: 0;
    padding: 0;
   overflow: hidden;
}
.box .textinput{
    /* margin: 23px;
    t
    width: 100px;
    height: 60px;
    border-radius: 10px;
     */

}

.hello {
    display: flex;
    justify-content: space-between;
    padding-left: -10px;
}

.box {
    background-color: blue;
    width: 700px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 42px;
  
    border-radius: 2%;
}


.box2{
    background-color: rgb(125, 20, 125);
    width: 1500px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 42px;
  
    border-radius: 0.5%;
}
.pos, .pos1 {
    width: 100px;
    position: relative;
    height: 60px;
    border-radius: 10px;
    background-color: orange;
}
.pos2 {
    width: 100px;
    height: 60px;
    border-radius: 10px;
    background-color: orange;
   
    margin-left: 24%;
   padding-top: 0px;
    
}
.pos3 {
    width: 100px;
    height: 60px;
    border-radius: 10px;
    background-color: orange;
   
    margin-left: 2%;
   padding-top: 0px;
    
}



.box2 {
    margin-left: auto;
}
/* Add styles for labels */
.box label {
    color: white; /* Adjust the label color as needed */
    margin-bottom: 10px; /* Add space below labels */
}


.box2 {
    margin-left: auto;
    position: relative;
}
 
/* #output {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 80px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
} */

.box2 #output {
    margin-left: -2px;
    width: 300px;
    height: 300px; 
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.box2 img {
    align-items: center;
    margin-top: 100px;
    width: 90vh;
    height: 50vh;
    margin-right: 20px;
   object-fit: cover;
}
 
 